@import "../common.scss";

//==========PC==========//
#container {
  width: 100%;
  font-family: "Noto Sans KR";
  flex-direction: column;
  .review_header {
    display: flex;
    padding: 10px;
    margin-top: 30px;
    justify-content: space-around;
    .search input {
      font-size: 12px;
      background: none;
      border: none;
      border-bottom: 1px solid $Color-stroke;
    }
    .search input:focus {
      outline: none;
    }
    .select {
      select {
        width: 150px;
        height: 30px;
        border: none;
        background: none;
        option:focus {
          outline: none;
        }
      }
      select:focus {
        outline: none;
      }
    }
  }
  .review_contents {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    border: 1px solid #400;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    .review_content {
      width: 400px;
      height: 482.59px;
      background: #fff;
      position: relative;
      border: 1px solid $Color-stroke;
      margin: 0 auto;
      .review_img {
        position: absolute;
        left: 0;
        top: 20px;
        .r_img {
          width: 300.59px;
          height: 300.59px;
        }
      }
      .review_header {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 78px;
        padding-bottom: 10px;
        border-bottom: 1px solid $Color-stroke;
        font-size: 12px;
        display: block;
        .star {
          color: $backgroundcolor-blue;
        }
        .middle_text {
          display: flex;
          color: $Textcolor-gray;
          margin-left: 10px;
          .userid {
            width: 136px;
          }
        }
      }
      .review_footer {
        display: flex;
        position: absolute;
        top: 405px;
        left: 0;
        font-size: 12px;
        width: 100%;
        align-items: center;
        .review_min_img {
          display: flex;
          justify-content: space-around;
          .r_min_img {
            width: 79px;
          }
        }
        .footer_content {
          width: 100%;
          justify-content: space-around;
          margin-left: 20px;
          .footer_text {
            display: flex;
            margin-top: 10px;
            .review_subtitle {
              width: 114px;
            }
          }
        }
      }
    }
  }
}

//==========Tablet==========//
@media screen and (max-width: 1200px) {
  #container {
    width: 100%;
    .review_contents {
      // width: 100%;
      max-width: 1366px;
      grid-template-columns: repeat(3, 3fr);
      .review_content {
        width: 250px;
        height: 432.59px;
        .review_img {
          width: 100%;
          .r_img {
            width: 250px;
            height: 280px;
            border: 1px solid #f00;
          }
        }
      }
    }
  }
}

//==========Mobile==========//
@media screen and (max-width: 768px) {
  #container {
    // width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  #gnb {
    .gnb_container {
      padding: 0 50px;
      &:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
