* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.imgs {
  width: 300px;
  height: 300px;
}
.slide_pagers {
  display: flex;
  gap: 10px;
}
.slide_pagers li {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 100%;
  cursor: pointer;
}
.slide_pagers li.active {
  background: #ff4545;
}
