@import "../../common.scss";

//==========PC==========//
.wrap {
  width: 100%;
  #container {
    width: 100%;
    .filter_container {
      display: block;
      margin-top: 10px;
      position: relative;
      .myboard_filters {
        .option {
          border: none;
        }
      }
      table {
        display: inline-block;
        width: 100%;
        height: 120px;
        
        thead {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 20px;

          tr {
            display: flex;
            width: 100%;
            height: 30px;
            text-align: center;
            align-items: center;
            th {
              display: flex;
              width: 100%;
              height: 50px;
              font-size: 20px;
              text-align: center;
              align-items: center;
              justify-content: center;
              border: 1px solid $Color-stroke;
            }
          }
        }
        tbody {
          display: flex;
          justify-content: center;
          text-align: center;
          tr {
            display: flex;
            width: 90%;
            height: 30px;
            th {
              display: flex;
              width: 100%;
              top: auto;
              left: 900px;
              font-size: 20px;
              font-weight: normal;
              justify-content: center;
              align-items: center;
              text-align: center;
              border: none;
            }
          }
        }
      }
    }
    .myboard_review_contents {
      width: 100%;
      font-size: 13px;
      ul {
        height: 36px;
        border: 1px solid $Color-stroke;
        border-top: none;
        li {
          float: left;
          width: 50%;
          height: 36px;
          text-align: center;
          vertical-align: middle;
          a > h4 {
            display: inline-block;
            width: 100%;
            font-size: 14px;
            line-height: 35px;
            border-left: 1px solid $Color-stroke;
            border-bottom: 1px solid $Color-stroke;
            .mb01 {
              border-bottom: none;
            }
          }
        }
      }
      .myboard_Myboard {
        text-align: center;
        height: 50%;
        margin-top: 8%;
        border: 1px solid #f00;
        .myboard_filters {
          width: 20%;
          border: 1px solid #0f0;
        }
      }
      // li:first-child a > h4 {
      //   border-left: none;
      // }
      .myboard_selected a > h4 {
        height: 36px;
        border-bottom: none;
        color: $Textcolor-black;
        font-weight: bold;
      }
      .myboard_review_contents {
        width: calc(100% - 4px);
        overflow: hidden;
        .my_review_tab {
          width: 60%;
          margin: 0 20%;
          border-bottom: 1px solid #e6e6e6;
          margin-bottom: 1.25rem;
          .tab {
            padding: 14px 0;
            display: inline-block;
            width: 49%;
            text-align: center;
            cursor: pointer;
            font-size: 0.75rem;
            color: #575757;
          } // 둘 중 하나의 셀렉트만 색 변경 되어야함
          .writable {
            display: inline-block;
            width: 20%;
            color: #1b73cc;
            font-weight: bold;
            border-bottom: 3px solid #1b73cc;
            h5 {
              display: inline-block;
            }
          }
          .writed {
            display: inline-block;
            font-weight: bold;
            h5 {
              display: inline-block;
            }
          }
        }
      }
    }
    .board_nullimg {
      width: 100%;
      height: 200px;
      block-size: auto 60%;
      background: url(//cdn.snapfit.co.kr/review/images/icons/searchResultIsNull.png)
        no-repeat;
      background-position: center;
      background-size: auto 60%;
    }
    .board_null_text {
      text-align: center;
    }
    .myboard_comment_contents {
      width: 100%;
      font-size: 13px;
    }
  }
}

//==========Tablet==========//
@media screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
    #container {
      width: 100%;
    }
  }
}

//==========Mobile==========//
@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 390px;
    #container {
      width: 100%;
      .tab_review_count h5 {
        font-size: 12px;
      }
      .board_null_text h4 {
        font-size: 16px;
      }
    }
  }
}
