//==========reset==========//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
//==========var==========//
$Textcolor-black: #1e1e1e;
$Textcolor-gray: #a0a0a0;
$Textcolor-white: #fffefa;
$backgroundcolor-blue: #83a2c1;
$backgroundcolor-lightgreen: #f7f7ef;
$backgroundcolor-light: #fafaf6;
$Color-stroke: #e0ded9;
$Color-lightgray: #f6f6f6;
$Color-orange: #fc6408;

//==========font==========//
@import url("https://fonts.cdnfonts.com/css/futura-pt");
//font-family: 'Futura PT', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
//font-family: "Playfair Display", serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
//font-family: "Noto Sans KR", sans-serif;

h1 {
  font: normal 36px/1 "Playfair Display";
  @media screen and (max-width: 768px) {
    font-size: 56px;
  }
}
h2 {
  font: normal 28px/1 "Futura PT";
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
}
h3 {
  font: normal 18px/1 "Futura PT";
  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 2.5rem;
  }
}
h4 {
  font: normal 14px/1 "Noto Sans KR";
  @media screen and (max-width: 768px) {
    font-size: 33px;
    line-height: 2.5rem;
  }
}
h5 {
  font: normal 11px/1 "Noto Sans KR";
  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

//==========common==========//

body {
  background: $backgroundcolor-light;
}

#header {
  width: 100%;
  min-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #header_popup {
    width: 100%;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $backgroundcolor-blue;
    color: #fff;
    img {
      width: 18px;
      height: 18px;
      &:nth-child(1) {
        opacity: 0;
      }
      &:last-child {
        filter: invert(1);
      }
    }
  }
  #header_contents {
    width: 75%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    button {
      border: none;
      background: none;
    }
    .header_menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      div {
        width: 28px;
        height: 1px;
        background: $Textcolor-black;
        &:nth-child(2) {
          margin: 8px 0;
        }
      }
    }
    .header_right {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 28px;
        height: 28px;
        margin: 0 5px;
        object-fit: cover;
      }
      .header_menu_mobile {
        margin-left: 10px;
        display: none;
      }
    }
    .header_logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 768px) {
    #header_popup {
      height: 20px;
      font-size: 20px;
      padding: 20px;
    }
    #header_contents {
      width: 100%;
      min-width: 390px;
      height: 70px;
      border: 1px solid red;
      padding: 20px;
      .header_menu {
        display: none;
      }
      .header_logo {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        width: 64px;
        height: 64px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .header_right {
        img {
          width: 40px;
          height: 40px;
          margin-left: 10px;
        }
        .header_menu_mobile {
          display: block;
          margin-left: 15px;
          div {
            height: 2px;
          }
        }
      }
    }
  }
}

#gnb {
  width: 100%;
  background: $backgroundcolor-lightgreen;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul {
    justify-content: space-between;
  }
  .gnb_container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $Color-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    li {
      font: normal 28px/1 "Playfair Display";
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 768px) {
    ul {
      justify-content: space-between;
    }
    .gnb_container {
      gap: 50px;
      height: 80px;
      justify-content: center;
      padding: 0 20px;
      &:nth-child(2) {
        height: auto;
        padding: 20px 40px;
        text-wrap: wrap;
      }
    }
  }
}

#menu {
  .menu_container {
    position: absolute;
    top: 0;
    left: -400px;
  }
  .menu_container.active {
    left: 0;
    transition: all 0.5s;
  }
  .menu_lf_cls {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    text-align: right;
    align-items: center;
    font-family: "Futura PT", sans-serif;
    font-size: 11px;
    font-weight: 500;
    padding: 32px 38px;
    background: #fcfcf2;
    box-shadow: 2px 0 10px $Textcolor-gray;
    cursor: pointer;
    // border-bottom: 1px solid $Color-stroke;
  }
  .menu_wrapper {
    position: fixed;
    // left: -400px;
    width: 400px;
    height: 100vh;
    background: #fcfcf2;
    font-family: "Playfair Display", serif;
    // box-shadow: 0px 0 3px $Textcolor-gray;
    z-index: 99;
    // border: 1px solid #f00;
  }
  .menu_wrapper {
    margin-top: 90px;
    border-top: 1px solid $Color-stroke;
    .menu_hidden {
      display: none;
    }
    .menu_item {
      text-align: center;
      justify-content: center;
      // a:focus {
      //   color: $backgroundcolor-blue;
      // }
      .menu_link {
        display: flex;
        // padding-top: 1rem;
        // padding-bottom: 1rem;
        padding: 20px;
        border-bottom: 1px #eee solid;
        text-align: center;
        align-items: center;
        justify-content: center;
        span {
          font-size: 35px;
        }
        span:hover {
          color: $backgroundcolor-blue;
        }
        .menu_icon {
          position: absolute;
          width: 30px;
          transition: 0.2s all;
        }
      }
      .menu_icon:before,
      .menu_icon:after {
        content: "";
        display: block;
        background-color: #83a2c1;
        position: absolute;
        top: 50%;
        left: 150px;
        transition: 0.35s;
        width: 100%;
        height: 2px;
      }
      .menu_icon:before {
        transform: translateY(-50%);
      }
      .menu_icon:after {
        transform: translateY(-50%) rotate(90deg);
      }
      .accordion-menu--active .menu_icon:before {
        transform: translateY(-50%) rotate(-90deg);
        opacity: 0;
      }
      .accordion-menu--active .menu_icon:after {
        transform: translateY(-50%) rotate(0);
      }
      .menu_sublist {
        font-family: "Futura PT", sans-serif;
        font-size: 25px;
        transition: all 0.8s ease-in;
        li {
          padding: 15px;
          transition: all 0.8s ease-in;
        }
        .menu_item {
          transition: all 0.8s ease-in;
        }
        .menu_sublink:hover {
          color: #83a2c1;
        }
      }
    }
    .side_menu_slogan img {
      position: absolute;
      display: block;
      width: 250px;
      bottom: 150px;
      left: 20%;
    }
  }
  @media screen and (max-width: 768px) {
    .menu_container {
      position: absolute;
      top: 0;
      left: 0;
    }
    .menu_lf_cls {
      display: none;
    }
    .menu_wrapper {
      width: 100vw;
      top: 70px;
      overflow: hidden;
      background: #fcfcf2;
      transition: all 0.3s ease-out;
      margin-top: 40px;
      .menu_item {
        .menu_link {
          span {
            font-size: 50px;
          }
          .menu_icon {
            left: 62%;
          }
          .menu_icon::before,
          .menu_icon::after {
            width: 150%;
          }
        }
      }
    }
    .menu_sublink {
      font-size: 35px;
    }
    .side_menu_slogan {
      display: none;
    }
    .menu_list_clolor:hover {
      color: $backgroundcolor-blue;
    }
  }
}

#asdie {
  width: 100%;
}

#footer {
  width: 100%;
}
