@import url(./01font.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PyeongChangPeace-Light", serif;
  font-weight: 300;
}
.cover-page {
  height: 100vh;
  background: #283953;
  color: #f4ebdc;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.cover-img {
  justify-content: center;
  align-items: center;
}
.cover-title {
  position: absolute;
  bottom: 100px;
  left: 800px;
  font-size: 80px;
  letter-spacing: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
