/* common style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #eee;
  color: #222;
}

.tab-inner {
  width: 700px;
  margin: 50px auto;
}

/* tab-btn */
.tab-btn a {
  display: inline-block;
  background: #000;
  color: #fff;
  width: 150px;
  text-align: center;
  margin-right: -2px;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  border: 3px solid transparent;
  transition: all 0.3s;
}
.tab-btn a:hover {
  color: #336aec;
}
.tab-btn a.active {
  background: #fff;
  color: #336aec;
  border-top: 3px solid #336aec;
}

/* tab-content */
.tab-content {
  position: relative;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 25px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.tab h2 {
  text-transform: uppercase;
}

.tab img {
  width: 100%;
}
.tab:target {
  opacity: 1;
  visibility: visible;
}
.tab:nth-child(1) {
  opacity: 1;
  visibility: visible;
}