.TodoList .searchbar {
  margin: 20px 0;
  padding-left: 4px;
  padding-bottom: 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fceff9;
}
.TodoList .searchbar:focus {
  outline: none;
  border-bottom: 1px solid #7bae7f;
}
.TodoList .list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}